/**{
	box-sizing: border-box;
}*/

body{
	background-color: PaleGreen;
	font-family: "Ariel", "Helvetia Neue", Helvetica, sans-serif;
	font-size: 18px;
	color: black;	
}

h1{
	font-size: 30px;
	font-color: black;
}

h2{
	font-size: 25px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 15px;
}

#frame{
	position: relative;
	margin:50px 50px 50px 50px;
	background-color: Green;
	/*padding:500px;*/
	text-align: center;
}

.choice{
	display:block;
	list-style:none;
	margin: 10px 10px;
	padding:20px;
	background-color: blue;
	font-size: 25px;
}

.choice:hover{
	background-color: lightblue;
}

p{
	font-size: 25px;
	font-weight: : bold:;
}

button{
	position:relative;
	background-color: white;
    border: black solid;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-width: 10px;
    margin:0 auto;
}

